textarea {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    margin: 8px 0;
    width: 80%;
  }
  
  .postBody{
    height: 25vh;
  }

  
.errorMsg{
  color: red;
  font-size: 12px;
}