body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.dispFlex{
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: space-between;
}

.posts{
  padding: 10px 25px;
  overflow: auto;
  height: 60vh;
  width: 80%;
  margin: auto;
}



.visible{
  width: 80%;
  margin: auto;
  padding: 10px 25px;
  overflow: visible;
}

.dispGrid{
  display: grid;
  margin: 8px 0;
}

.buttonsMain{
  background-color: darkorange;
  padding: 1rem;
  align-items: center;
  text-align: center;
  justify-content: space-evenly !important;
}

.align-center{
margin: auto;  
}

input[type=text] {
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  margin: 8px 0;

}

.form{
  width: 80%;
  padding: 25px;
  border-right: 1px solid black;

}


.errorMsg{
  color: red;
  font-size: 12px;
}